/* Box Model Hack */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
/* Clear fix hack */
.clearfix:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
.clear {
  clear: both;
}
body {
  margin: 0;
  border-top: solid #1f8aa3 10px;
  font-family: sans-serif;
}
.container {
  width: 800px;
  margin: 0 auto;
}
header {
  padding: 20px 40px;
  margin-bottom: 60px;
}
h1 {
  color: #1f8aa3;
  font-size: 26px;
  text-transform: uppercase;
  font-style: italic;
}
ul,
ol {
  margin-left: 50px;
  margin-bottom: 20px;
}
ul {
  list-style-type: none;
}
li {
  font-size: 20px;
  margin-bottom: 10px;
}
a {
  text-decoration: none;
  color: #1f8aa3;
}
a:hover {
  color: red;
  text-decoration: underline orangered;
}
nav ul {
  display: flex;
}
nav ul li a {
  margin-right: 30px;
  margin-top: 10px;
  display: inline-block;
  color: #1f8aa3;
}
article {
  margin-bottom: 60px;
}
.post-article {
  margin-bottom: 40px;
}
h2 {
  color: #1f8aa3;
  font-size: 40px;
  position: relative;
}
h2::after {
  content: "TOP";
  background-color: yellow;
  font-size: 20px;
  color: black;
  font-weight: bold;
  display: inline-block;
  padding: 5px 10px;
  position: absolute;
  top: -10px;
  right: -25px;
}
.lauraImg {
  height: 50px;
  width: 50px;
}
p {
  font-size: 22px;
  line-height: 1.5;
  margin-bottom: 15px;
}
#author {
  font-size: 18px;
  font-style: italic;
  margin-bottom: 15px;
}
.postImg {
  width: 100%;
  height: auto;
}
button {
  font-size: 22px;
  cursor: pointer;
}
h3 {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 40px;
  color: #1f8aa3;
}
aside {
  border-top: 5px solid #1f8aa3;
  border-bottom: 5px solid #1f8aa3;
  padding: 50px 0;
  width: 500px;
}
h4 {
  font-size: 20px;
  text-transform: uppercase;
  text-align: center;
}
.art {
  font-size: 18px;
  font-weight: bold;
}
#copyright {
  font-size: 16px;
}
