* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* ------------------------ */
/* GENERAL STYLES */
/* ------------------------ */
body {
  font-family: 'Inter',sans-serif;
  color: #343a40;
  line-height: 1;
  font-size: 24px;
}
.container {
  height: 100vh;
  display: grid;
  grid-template-columns: 80px 400px 1fr 250px;
  grid-template-rows: 80px 1fr;
  text-align: center;
  font-weight: bold;
}
nav, .inbox, main, aside {
  padding-top: 24px;
}
nav {
  background-color: #343a40;
  color: #fff;
  grid-row: 1 / -1;
}
menu {
  display: flex;
  background-color: #7048e8;
  color: #fff;
  grid-column: 2 / -1;
  align-items: center;
  gap: 12px;
  padding: 8px 12px;
}
button {
  display: inline-block;
  font-size: 16px;
  font-weight: bold;
  background-color: #5f3dc4;
  border: none;
  cursor: pointer;
  color: #fff;
  padding: 8px 12px;
}
button:last-child {
  background-color: #d6336c;
  margin-left: auto;
} 
.inbox {
  background-color: #e9ecef;
  padding: 40px;
  overflow: scroll;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.email {
  background-color: #adb5bd;
  height: 96px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}
aside {
  background-color: #e9ecef;
}